curses/
idlelib/
lib2to3/
plat-aix4/
plat-darwin/
plat-freebsd4/
plat-freebsd5/
plat-freebsd6/
plat-freebsd7/
plat-freebsd8/
plat-generic/
plat-netbsd1/
plat-next3/
plat-os2emx/
plat-sunos5/
plat-unixware7/
addons/source-python/Python3/site-packages/*
tkinter/
turtledemo/
unittest/
test/
tests/
src/CMakeFiles/*
src/core.dir/*
src/Release/*
src/Debug/*
src/Win32/*
src/ALL_BUILD*
src/ZERO_CHECK*
src/core.*
src/source-python*
src/CMakeCache.txt
src/cmake_install.cmake
src/Makefile
src/lib*
src/Build/*