# Base directories
curses/
idlelib/
lib2to3/
plat-aix4/
plat-darwin/
plat-freebsd4/
plat-freebsd5/
plat-freebsd6/
plat-freebsd7/
plat-freebsd8/
plat-generic/
plat-netbsd1/
plat-next3/
plat-os2emx/
plat-sunos5/
plat-unixware7/
addons/source-python/Python3/site-packages/*
tkinter/
turtledemo/
test/
tests/
src/Builds/
src/hl2sdk/*
!src/hl2sdk/readme.md

# Plugin directories
__pycache__
addons/source-python/bin/
addons/source-python/data/custom/
addons/source-python/data/plugins/
addons/source-python/data/source-python/settings/
addons/source-python/data/source-python-data.zip
addons/source-python/packages/custom/
addons/source-python/plugins/
cfg/source-python/*
!cfg/source-python/auth_providers/
logs/source-python/
resource/source-python/events/
resource/source-python/translations/*
!resource/source-python/translations/_core/
sound/source-python/

# Wiki directories
addons/source-python/docs/source-python/build/
addons/source-python/docs/source-python/source/general/credits.rst
addons/source-python/docs/custom/
!addons/source-python/docs/custom/readme.md
addons/source-python/docs/plugins/
!addons/source-python/docs/plugins/readme.md

# PyCharm directory
.idea/

# Linux temp files
*~
