# Set default behaviour, in case users don't have core.autocrlf set.
# Adding * text=auto causes Git to autodetect text files and normalise their
# line endings to LF when they are checked into your repository.
* text=auto