[MASTER]
# List of files/directories to blacklist (not paths)
ignore=


[MESSAGES CONTROL]
# Definitions of codes disabled
# For a list of error codes, see:
#   http://pylint-messages.wikidot.com/all-codes
disable=C0330, C0411, E0611, E1101, F0401, R0902, R0903, R0904, R0912, R0913, R0914, W0212, W0702


[BASIC]
# List of bad builtin function names
bad-functions=eval,exec,__import__

# Module name regex
module-rgx=[a-z_][a-z0-9_]{2,30}$

# Constant name regex
const-rgx=(([A-Z_][A-Z0-9_]*)|([a-z_][a-z0-9_]*)|(__.*__))$

# Class name regex
class-rgx=([A-Z_][a-zA-Z0-9]+)|([A-Z][A-Z_]*)$

# Function name regex
function-rgx=[a-z_][a-z0-9_]{2,32}$

# Method name regex
method-rgx=[a-z_][a-z0-9_]{2,36}$

# Attribute name regex
attr-rgx=[a-z_][a-z0-9_]{2,30}$

# Argument name regex
argument-rgx=[a-z_][a-z0-9_]{2,30}$

# Variable name regex
variable-rgx=[a-z_][a-z0-9_]{2,30}$

# Class attribute name regex
class-attribute-rgx=([A-Za-z_][A-Za-z0-9_]{1,40}|(__.*__))$

# In-line variable name regex
inlinevar-rgx=[A-Za-z_][A-Za-z0-9_]*$

# Variable names that are always ok
good-names=x,y,z,a,b,c,d,e,f,g,h,x1,y1,z1,x2,y2,z2,p1,p2,source-python,fget,create_global_pointers_from_file,create_function_typedefs_from_file,MuzzleFlashStyle,WeaponID,WeaponType,WeaponSlot,WeaponInfo,BaseClient,BaseEntityOutput


[REPORTS]
# The message output template
msg-template={msg_id}:{line:3d},{column:2d}: {msg} ({symbol})


[SIMILARITIES]
ignore-imports=yes
ignore-comments=yes
ignore-docstrings=yes


[VARIABLES]
dummy-variables-rgx=game_event|args|kwargs|ptr
